<!DOCTYPE html>
<html lang="en">
<head>
    <title>Classroom App</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/classrooms">Classrooms</a>
        <a href="/files">Files</a>
        <% if (session.userId) { %>
            <a href="/logout">Logout</a>
        <% } else { %>
            <a href="/login">Login</a>
        <% } %>
    </nav>
    <div class="container">
